<h1 class="mt-">Selectores anidados</h1>
<hr />

<form [formGroup]="myForm">
  <!-- Regiones -->

  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente</label>
      <select class="form-control" formControlName="region">
        <option value="">-- Seleccione Continente--</option>
        @for(region of regions; track $index) {
        <option [value]="region">{{ region }}</option>
        }
      </select>
    </div>
  </div>

  <!-- Countries -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Pais</label>
      <select class="form-control" formControlName="country">
        <option value="none">-- Seleccione Pais--</option>

        @for(country of countires; track $index) { @if( countires ) {
        <option [value]="country.cca3">
          {{ country.name }}
        </option>
        } }
      </select>
    </div>
  </div>
  <!-- Código API no funciona correctamente incompleto-->
  @if(borders.length > 0) {
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Selected Border</label>
      <select class="form-control" formControlName="borders">
        <option value="none">-- Seleccione La frontera--</option>
        @for(border of borders; track $index) { @if( countires ) {
        <option [value]="border.borders">
          {{ border.borders }}
        </option>
        } }
      </select>
    </div>
  </div>
  }
</form>

<h3>Formulario</h3>

<code>
  {{ myForm.value | json }}
</code>
<p>is form valid: {{ myForm.valid }}</p>
